Repository blazo-dev/didaktos, pull requests merged in 2025-09, with the labels that each got.

#15 refactor: updated .net version, updated auth route, updated Postgre driver
  backend/Configurations/JwtSettings.cs
  backend/Controllers/AuthController.cs
  backend/Interfaces/IAuthService.cs
  backend/Interfaces/IUserRepository.cs
  backend/Models/DTOs/AuthDTOs.cs
  backend/Models/DTOs/GenericDTOs.cs
  backend/Models/DTOs/Requests/LoginRequestDto.cs
  backend/Models/DTOs/Requests/RegisterRequestDto.cs
  backend/Models/DTOs/Responses/AuthDataDto.cs
  backend/Models/DTOs/Responses/HttpResponseDto.cs
  backend/Models/DTOs/UserDto.cs
  backend/Models/User.cs
  backend/Program.cs
  backend/Repositories/UserRepository.cs
  backend/Services/AuthService.cs
  backend/Utils/JwtTokenGenerator.cs
  backend/backend.csproj
Labels: backend

#16 Fix/remove role from auth
  backend/Controllers/AuthController.cs
  backend/Models/DTOs/Requests/RegisterRequestDto.cs
  backend/Models/DTOs/UserDto.cs
  backend/Models/User.cs
  backend/Repositories/UserRepository.cs
  backend/Services/AuthService.cs
  backend/Utils/JwtTokenGenerator.cs
Labels: backend

#30 Endpoint Refactoring
  backend/Models/DTOs/ModuleDto.cs
  backend/Models/DTOs/Responses/CourseReadResponseDto.cs
  backend/Repositories/AssignmentRepository.cs
  backend/Repositories/CourseRepository.cs
Labels: backend

#33 Feature/assignments
  frontend/app/courses/[courseId]/modules/[moduleId]/assignments/[assignmentId]/page.tsx
  frontend/components/forms/assignment-form.tsx
  frontend/components/modals/assignment-modal.tsx
  frontend/components/modals/lesson-modal.tsx
  frontend/components/ui/input.tsx
  frontend/components/views/assignments/assignment-header.tsx
  frontend/components/views/assignments/assignment-view.tsx
  frontend/components/views/courses/course-detail-view/course-detail-view.tsx
  frontend/components/views/courses/courses-layout/courses-layout.tsx
  frontend/components/views/courses/module-accordion.tsx
  frontend/hooks/assignments/use-assignments-by-module.ts
  frontend/hooks/assignments/use-create-assignment.ts
  frontend/hooks/assignments/use-delete-assignment.ts
  frontend/hooks/assignments/use-update-assignment.ts
  frontend/lib/api/assignments.ts
  frontend/lib/api/course.ts
  frontend/lib/schemas/assignment.ts
  frontend/stores/courses-store.ts
  frontend/types/course.ts
Labels: frontend

#35 feature/ai-assistant and submissions endpoint updates
  backend/Interfaces/ISubmissions/ISubmissionRepository.cs
  backend/Interfaces/ISubmissions/ISubmissionService.cs
  backend/Models/DTOs/Responses/SubmissionReadResponseDto.cs
  backend/Repositories/SubmissionRepository.cs
  backend/Services/SubmissionService.cs
  frontend/components/ui/tooltip.tsx
  frontend/components/views/assistant/study-assistant.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  package-lock.json
Labels: enhancement, frontend, backend

#36 Feature/submissions
  frontend/components/forms/grade-submission-form.tsx
  frontend/components/forms/submission-form.tsx
  frontend/components/modals/grade-submission-modal.tsx
  frontend/components/modals/submission-modal.tsx
  frontend/components/modals/view-all-submission-modal.tsx
  frontend/components/modals/view-submission-modal.tsx
  frontend/components/views/assignments/assignment-header.tsx
  frontend/components/views/assignments/assignment-view.tsx
  frontend/components/views/assistant/study-assistant.tsx
  frontend/components/views/courses/course-detail-view/course-detail-header.tsx
  frontend/components/views/courses/course-detail-view/course-detail-view.tsx
  frontend/components/views/courses/course-detail-view/course-info-card.tsx
  frontend/components/views/lessons/lesson-view.tsx
  frontend/components/views/submissions/view-all-submissions.tsx
  frontend/components/views/submissions/view-submissions.tsx
  frontend/hooks/submissions/use-create-submission.ts
  frontend/hooks/submissions/use-get-all-submission-by-course.ts
  frontend/hooks/submissions/use-grade-submission.ts
  frontend/lib/api/submission.ts
  frontend/lib/schemas/submission.ts
  frontend/stores/courses-store.ts
  frontend/types/course.ts
Labels: frontend
